.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 15px 10px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.header__logo img {
    height: 30px;
}


.header-nav {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    gap: 25px;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
